In [1]:
import MySQLdb
import seaborn as sns
import pandas as pd

In [2]:
!ls data/data

cb_acquisitions.sql   cb_investments.sql    cb_offices.sql
cb_degrees.sql        cb_ipos.sql           cb_people.sql
cb_funding_rounds.sql cb_milestones.sql     cb_relationships.sql
cb_funds.sql          cb_objects.sql        license.txt

In [3]:
# variables for database connection
dsn_database = "p3"   
dsn_uid = "root"             
dsn_pwd = "I prefer prequels"

In [4]:
# connect to database
conn = MySQLdb.connect(user=dsn_uid, passwd=dsn_pwd, db=dsn_database)
cursor=conn.cursor()

In [5]:
with conn as cursor:
    cursor.execute('SELECT * FROM cb_people')
    fields = [item[0] for item in cursor.description]
    result_ppl = []
    columns = tuple( [item[0] for item in cursor.description] )
    for row in cursor:
      result_ppl.append(dict(zip(columns, row)))

/Users/mitch/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning: context interface will be changed.  Use explicit conn.commit() or conn.rollback().
  if __name__ == '__main__':

In [6]:
print(columns)

('id', 'object_id', 'first_name', 'last_name', 'birthplace', 'affiliation_name')

In [7]:
len(result_ppl)

226709

In [8]:
result_ppl_df = pd.DataFrame(result_ppl)
result_ppl_df.sort_values(['object_id']).head(100)

,affiliation_name,birthplace,first_name,id,last_name,object_id
8,Facebook,None,Mark,9,Zuckerberg,p:10
86,Plaxo,None,Peter,87,Lester,p:100
873,Droplet Technology,None,Dr. Steven,874,E. Saunders,p:1000
8462,Music Nation,None,Neil,8463,Capel,p:10000
87039,Unaffiliated,None,Sue,87040,Pilsch,p:100000
87040,Unaffiliated,None,Keith,87041,Kurzendoerfer,p:100002
87041,CareerEncore,None,Courtney,87042,Homer,p:100006
87042,Unaffiliated,None,Eddy,87043,Badrina,p:100009
87043,Unaffiliated,None,Michael,87044,Dadashyan,p:100010
87044,Unaffiliated,None,Jeff,87045,Grell,p:100011
87045,Unaffiliated,None,Nick,87046,Bova,p:100012
87046,Unaffiliated,None,Umesh,87047,Singh,p:100013
87047,Unaffiliated,None,Larry,87048,Blankenship,p:100014
87048,Unaffiliated,None,Steven,87049,G. Anderson,p:100015
87049,Unaffiliated,None,Thomas,87050,F. Ackerman,p:100016
87050,Unaffiliated,None,Kurt,87051,Azarbarzin,p:100017
87051,GovHub,Washington DC,Adam,87052,Beckerman,p:100018
87052,Unaffiliated,None,Melissa,87053,French,p:100019
87053,Unaffiliated,Bursa TR,O?uz Ka?an,87054,Aslan,p:100022
87054,Freevi,None,Neil,87055,Chandran,p:100023
87055,Unaffiliated,None,Sebastian,87056,Knutsson,p:100024
87056,Unaffiliated,None,Thomas,87057,Hartwig,p:100025
87057,Unaffiliated,None,Lars,87058,Markgren,p:100026
87058,Unaffiliated,Mharashtra,Suraj,87059,Shinde,p:100027
87059,Unaffiliated,None,Kaushik,87060,Prakash,p:100029
87060,Unaffiliated,None,Jai,87061,Patel,p:100030
87061,dotCORD,"Honavar, Karnataka, India",Sandeep,87062,Hegde,p:100031
87062,Unaffiliated,None,Dejan,87063,Avramovic,p:100032
87063,Unaffiliated,None,Ivet,87064,Dobromirova,p:100033
87064,Unaffiliated,"Ahmedabad, India",Anand,87065,Mistry,p:100034
...,...,...,...,...,...,...
87103,Digital Assent,None,Andrew,87104,Ibbotson,p:100091
87104,Digital Assent,None,Tim,87105,Collins,p:100092
87105,Unaffiliated,None,Rihard,87106,Oskar,p:100095
87106,Poptip,None,Kelsey,87107,Falter,p:100097
87107,Unaffiliated,None,John,87108,Zielinski,p:100098
874,Droplet Technology,None,Richard,875,I. Kadet,p:1001
8465,Unaffiliated,None,Ms.,8466,Hadas Melnik,p:10010
87108,Unaffiliated,None,Stephen,87109,Cole,p:100102
87109,Unaffiliated,None,Sean,87110,McHale,p:100103
87110,Unaffiliated,None,Marc,87111,Vega,p:100105
87111,Unaffiliated,None,Ignacio,87112,Bugueno,p:100106
87112,PayPal,Salem,Ganesh,87113,Jayaraman G,p:100108
87113,Durk.me,None,Nishant,87114,Hinge,p:100109
8466,Wily Technology,None,Lewis,8467,Cirne,p:10011
87114,Unaffiliated,None,Dmitriy,87115,Son,p:100111
87115,Unaffiliated,None,Geoff,87116,Blair,p:100112
87116,Unaffiliated,None,mahtab,87117,jooni,p:100113
87117,Unaffiliated,None,Lauren,87118,Gogarty,p:100116
87118,Unaffiliated,None,Kate,87119,Krauss,p:100117
87119,Unaffiliated,None,Susan,87120,London,p:100118
87120,Unaffiliated,None,Altura,87121,Ewers,p:100119
8467,Unaffiliated,None,Basab,8468,Pradhan,p:10012
87121,sharypic,None,Francois-Joseph,87122,Grimault,p:100120
87122,Unaffiliated,"Mbeya, Tanzania",Shiven,87123,Ramji,p:100121
87123,Unaffiliated,None,Pietro,87124,Ferraris,p:100123
87124,Econoetica Srl,Florence,Simone,87125,Biagiotti,p:100124
87125,map2app,Bologna,Michele,87126,Orsi,p:100125
87126,Unaffiliated,None,Daniël,87127,Goyvaerts,p:100126
87127,Unaffiliated,None,Todd,87128,Sullivan,p:100127
87128,Unaffiliated,Brazil,Danilo,87129,Leao,p:100129

In [9]:
with conn as cursor:
    cursor.execute('SELECT * FROM cb_degrees')
    fields = [item[0] for item in cursor.description]
    result_deg = []
    columns = tuple( [item[0] for item in cursor.description] )
    for row in cursor:
      result_deg.append(dict(zip(columns, row)))

/Users/mitch/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning: context interface will be changed.  Use explicit conn.commit() or conn.rollback().
  if __name__ == '__main__':

In [10]:
print(columns)

('id', 'object_id', 'degree_type', 'subject', 'institution', 'graduated_at', 'created_at', 'updated_at')

In [11]:
len(result_deg)

109610

In [12]:
result_deg_df = pd.DataFrame(result_deg)
result_deg_df.sort_values(by=['object_id']).head(100)

,created_at,degree_type,graduated_at,id,institution,object_id,subject,updated_at
2414,2009-03-24 22:50:22,,None,2415,Harvard University,p:10,Computer Science,2013-03-28 22:26:47
83603,2013-09-23 19:57:12,MBA,2004-01-01,83604,MIT Sloan School of Management,p:100006,Strategy & Marketing,2013-09-24 03:33:14
36786,2013-05-19 09:25:59,MS,None,36787,University of Mumbai,p:100013,Physical Chemistry,2013-06-30 03:36:04
36785,2013-05-19 09:25:59,MBA,None,36786,Rutgers University,p:100013,Finance,2013-06-30 03:36:04
14433,2011-07-09 04:08:31,BS,1996-01-01,14434,"University of Maryland, College Park",p:100018,"Marketing, French",2011-07-09 12:33:02
14432,2011-07-09 04:08:31,MBA,2004-01-01,14433,"Columbia University, Business School",p:100018,"Entrepreneurship, Marketing",2011-07-09 12:33:02
14435,2011-07-09 09:10:33,BS,2010-01-01,14436,Gogte Institute of Technology,p:100031,Information Science & Engineering,2011-07-09 12:34:53
14436,2011-07-09 11:15:09,BS,2010-01-01,14437,Qingdao University of Science & Technology,p:100036,pharmaceutical,2011-07-09 12:35:29
14438,2011-07-09 14:18:44,BS,1982-01-01,14439,"Imperial College, London",p:100045,Engineering,2011-07-09 16:53:48
32493,2013-05-02 11:39:55,MBA,None,32494,New York University (NYU),p:100049,"Entertainment, Media & Technology and Corporat...",2013-05-02 11:39:55
32494,2013-05-02 11:39:56,BS,None,32495,University of Virginia,p:100049,"Commerce, Finance concentration.",2013-05-02 11:39:56
42523,2013-06-07 17:07:49,BA,1990-01-01,42524,Queens College,p:100050,Economics,2013-06-07 17:15:56
32515,2013-05-02 12:09:37,,2003-01-01,32516,Duke University,p:100051,None,2013-05-02 12:09:37
14440,2011-07-09 16:43:34,BS,2008-01-01,14441,University of Central Florida,p:100058,Computer Engineering,2011-07-09 16:54:01
29594,2013-04-20 10:22:35,BS,2011-01-01,29595,Drexel University,p:100059,Graphic Design and Digital Media,2013-04-20 10:22:35
14442,2011-07-09 18:51:11,MSc. Engineering,None,14443,Chalmers University of Technology,p:100062,Management and Economics of Innovation,2011-07-09 23:12:30
65098,2013-08-17 07:51:58,PhD,None,65099,Novosibirsk State University,p:100065,Computer Science,2013-08-17 07:51:58
65099,2013-08-17 07:51:58,MS,2000-01-01,65100,????????????? ??????????????? ???????????,p:100065,Computer Science,2013-08-17 07:51:58
27429,2013-04-09 03:37:46,MA,1982-01-01,27430,University of Oxford,p:100072,Engineering Science,2013-04-09 03:37:46
21615,2012-07-26 13:48:57,"B.S., M.Eng, Ph.D.",None,21616,Massachusetts Institute of Technology (MIT),p:100073,Electrical Engineering,2012-07-27 11:54:57
83023,2013-09-20 12:12:31,SB,2006-01-01,83024,Massachusetts Institute of Technology,p:100074,Mechanical Engineering,2013-09-20 12:12:31
83022,2013-09-20 12:12:31,MBA,2012-01-01,83023,Massachusetts Institute of Technology - Sloan ...,p:100074,Business Administration,2013-09-20 12:12:31
53362,2013-07-19 08:52:19,SM,2012-01-01,53363,Massachusetts Institute of Technology (MIT),p:100074,Mechanical Engineering,2013-09-20 12:12:31
48613,2013-07-03 03:24:16,BS,None,48614,Carnegie Mellon University,p:100077,Computer Science and Human-Computer Interaction,2013-07-03 03:24:16
48612,2013-07-03 03:24:16,MHCI,None,48613,Carnegie Mellon University,p:100077,Human-Computer Interaction,2013-07-03 03:24:16
48619,2013-07-03 03:37:30,BA,None,48620,Temple University,p:100078,"Film & Media Arts, New Media",2013-07-03 03:37:30
22792,2012-09-25 21:06:50,,None,22793,University of Calgary,p:100086,New Venture Development,2012-10-09 03:04:04
18333,2012-02-15 18:07:25,BA,None,18334,University of Calgary,p:100086,Economics,2012-10-08 18:29:40
37717,2013-05-21 14:38:23,,1993-01-01,37718,Bishop Ireton High School,p:100091,Valedictorian,2013-05-21 14:38:23
37716,2013-05-21 14:38:23,BIE,1998-01-01,37717,Georgia Institute of Technology,p:100091,Industrial Engineering,2013-05-21 14:38:23
...,...,...,...,...,...,...,...,...
17566,2011-12-14 18:07:09,MBA,2004-01-01,17567,University of Southern California (USC) Marsha...,p:10019,None,2011-12-17 07:49:40
70601,2013-08-28 20:36:22,MS,None,70602,University of California San Diego,p:100197,Computer Science,2013-08-28 20:36:22
70602,2013-08-28 20:36:22,BA,None,70603,"University of California, San Diego",p:100197,Computer Science,2013-08-28 20:36:22
14475,2011-07-11 10:28:44,batchelor,2002-01-01,14476,San Jose State University,p:100206,computer science,2011-07-11 21:56:53
14476,2011-07-11 11:08:11,MS,2007-01-01,14477,Universidade de Brasília,p:100214,Ubiquitous Computing,2011-07-11 21:57:05
28085,2013-04-15 15:01:42,MS,2007-01-01,28086,National Technical University of Ukraine 'Kyiv...,p:100216,Computer Science,2013-04-15 15:01:42
21203,2012-07-12 17:43:46,BA,1994-01-01,21204,Reed College,p:10022,History,2012-07-12 21:03:10
57040,2013-07-29 10:23:42,PhD,2004-01-01,57041,University of Experience,p:10023,Internet Marketing,2013-07-29 10:23:42
81975,2013-09-18 11:09:15,BS,2003-01-01,81976,Carnegie Mellon University,p:100234,"Computer Science, Business Administration",2013-09-18 11:09:15
81974,2013-09-18 11:09:15,MBA,2009-01-01,81975,Rice University - Jesse H. Jones Graduate Scho...,p:100234,None,2013-09-18 11:09:15
23310,2012-11-01 18:18:18,BS,1989-01-01,23311,University of New Hampshire,p:100239,Mathematics/Economics,2012-11-02 04:38:35
14530,2011-07-12 15:45:59,MBA,2006-01-01,14531,"Columbia University, Business School",p:100245,MBA,2011-07-12 16:55:07
14531,2011-07-12 15:46:25,BS,1999-01-01,14532,Boston University,p:100245,Electrical Engineering,2011-07-12 16:55:16
14506,2011-07-12 02:03:41,BTECH,2006-01-01,14507,Kannur University,p:100249,Electronics and Communication Engineering,2011-07-12 16:58:23
14477,2011-07-11 17:07:19,MS,1984-01-01,14478,Stanford University,p:100261,Engineering,2011-07-11 22:08:36
18773,2012-03-15 19:13:08,BS,2005-01-01,18774,Cornell University,p:100264,Electrical and Computer Engineering,2012-03-18 03:58:19
46810,2013-06-26 05:39:37,Degree,1999-01-01,46811,Peking University,p:100265,Graduate,2013-06-26 05:39:37
46817,2013-06-26 06:00:36,Degree,2000-01-01,46818,East China Normal University,p:100266,Graduate,2013-06-26 06:00:36
46818,2013-06-26 06:01:22,Degree,2001-01-01,46819,East China Normal University,p:100266,Computer Science,2013-06-26 06:01:22
98678,2013-11-12 09:51:02,BS,None,98679,University of Otago,p:100267,"Computer Science, Telecommunications",2013-11-12 09:51:02
46819,2013-06-26 06:04:44,PhD,None,46820,Stanford University,p:100267,Computer Science,2013-11-12 09:51:02
46820,2013-06-26 06:05:09,MS,None,46821,Carnegie Mellon University,p:100267,Computer Sciences,2013-11-12 09:51:02
46830,2013-06-26 06:23:20,MS,None,46831,University of Florida,p:100268,Computer Science,2013-06-26 06:23:20
46831,2013-06-26 06:23:37,MS,None,46832,University of Science and Technology of China,p:100268,Computer Science,2013-06-26 06:23:37
46832,2013-06-26 06:23:48,BS,None,46833,University of Science and Technology of China,p:100268,Computer Science,2013-06-26 06:23:48
14480,2011-07-11 17:34:49,BA,1986-01-01,14481,Princeton University,p:100269,philosophy,2011-07-11 22:07:44
14482,2011-07-11 18:02:57,Diploma,2002-01-01,14483,Georje Collage,p:100274,Auto Mobile Engg,2011-07-11 22:06:42
54361,2013-07-22 10:13:55,master?s degree,None,54362,Florida Institute of Technology,p:100276,computer science,2013-07-22 10:13:55
54360,2013-07-22 10:13:55,bachelor?s degree,None,54361,Annamalai University,p:100276,mechanical engineering,2013-07-22 10:13:55
54146,2013-07-22 02:26:24,MS,None,54147,San Jose State University,p:100277,business administration,2013-07-22 02:26:24

In [13]:
with conn as cursor:
    cursor.execute('SELECT * FROM cb_funding_rounds')
    fields = [item[0] for item in cursor.description]
    result_FR = []
    columns = tuple( [item[0] for item in cursor.description] )
    for row in cursor:
      result_FR.append(dict(zip(columns, row)))

/Users/mitch/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning: context interface will be changed.  Use explicit conn.commit() or conn.rollback().
  if __name__ == '__main__':

In [14]:
print(columns)

('id', 'funding_round_id', 'object_id', 'funded_at', 'funding_round_type', 'funding_round_code', 'raised_amount_usd', 'raised_amount', 'raised_currency_code', 'pre_money_valuation_usd', 'pre_money_valuation', 'pre_money_currency_code', 'post_money_valuation_usd', 'post_money_valuation', 'post_money_currency_code', 'participants', 'is_first_round', 'is_last_round', 'source_url', 'source_description', 'created_by', 'created_at', 'updated_at')

In [15]:
len(result_FR)

52928

In [16]:
result_FR_df = pd.DataFrame(result_FR)
result_FR_df.head()

,created_at,created_by,funded_at,funding_round_code,funding_round_id,funding_round_type,id,is_first_round,is_last_round,object_id,...,post_money_valuation_usd,pre_money_currency_code,pre_money_valuation,pre_money_valuation_usd,raised_amount,raised_amount_usd,raised_currency_code,source_description,source_url,updated_at
0,2007-07-04 04:52:57,initial-importer,2006-12-01,b,1,series-b,1,0,0,c:4,...,None,None,None,None,8500000,8500000,USD,None,http://www.marketingvox.com/archives/2006/12/2...,2008-02-27 23:14:29
1,2007-05-27 06:08:18,initial-importer,2004-09-01,angel,2,angel,2,0,1,c:5,...,None,USD,None,None,500000,500000,USD,None,None,2013-06-28 20:07:23
2,2007-05-27 06:09:10,initial-importer,2005-05-01,a,3,series-a,3,0,0,c:5,...,None,USD,115000000,115000000,12700000,12700000,USD,Jim Breyer: Extra $500 Million Round For Faceb...,http://www.techcrunch.com/2007/11/02/jim-breye...,2013-06-28 20:07:23
3,2007-05-27 06:09:36,initial-importer,2006-04-01,b,4,series-b,4,0,0,c:5,...,None,USD,525000000,525000000,27500000,27500000,USD,Facebook Funding,http://www.facebook.com/press/info.php?factsheet,2013-06-28 20:07:24
4,2007-05-29 11:05:59,initial-importer,2006-05-01,b,5,series-b,5,0,0,c:7299,...,None,None,None,None,10500000,10500000,USD,PhotoBucket Closes $10.5M From Trinity Ventures,http://www.techcrunch.com/2006/05/14/photobuck...,2008-04-16 17:09:12

In [17]:
with conn as cursor:
    cursor.execute('SELECT * FROM cb_relationships')
    fields = [item[0] for item in cursor.description]
    result_rel = []
    columns = tuple( [item[0] for item in cursor.description] )
    for row in cursor:
      result_rel.append(dict(zip(columns, row)))

/Users/mitch/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning: context interface will be changed.  Use explicit conn.commit() or conn.rollback().
  if __name__ == '__main__':

In [18]:
print(columns)
print(len(result_rel))

('id', 'relationship_id', 'person_object_id', 'relationship_object_id', 'start_at', 'end_at', 'is_past', 'sequence', 'title', 'created_at', 'updated_at')
402878

In [19]:
result_rel_df = pd.DataFrame(result_rel)
result_rel_df.head(10)

,created_at,end_at,id,is_past,person_object_id,relationship_id,relationship_object_id,sequence,start_at,title,updated_at
0,2007-05-25 07:03:54,None,1,0,p:2,1,c:1,8,None,Co-Founder/CEO/Board of Directors,2013-06-03 09:58:46
1,2007-05-25 07:04:16,None,2,1,p:3,2,c:1,279242,None,VP Marketing,2010-05-21 16:31:34
2,2007-05-25 19:33:03,None,3,0,p:4,3,c:3,4,None,Evangelist,2013-06-29 13:36:58
3,2007-05-25 19:34:53,2009-12-01,4,1,p:5,4,c:3,4,2006-03-01,Senior Director Strategic Alliances,2013-06-29 10:25:34
4,2007-05-25 20:05:33,2010-04-05,6,1,p:7,6,c:4,1,2005-07-01,Chief Executive Officer,2010-04-05 18:41:41
5,2007-05-25 20:06:45,None,7,1,p:8,7,c:4,1,None,Senior Software Engineer,2010-01-12 01:13:29
6,2007-05-25 20:07:50,None,8,1,p:9,8,c:4,1,None,Systems Engineering Manager,2010-08-03 22:00:58
7,2007-05-25 21:51:46,None,9,0,p:10,9,c:5,1,None,"Founder and CEO, Board Of Directors",2010-01-25 21:49:44
8,2007-05-25 22:15:05,None,10,1,p:11,10,c:5,1,None,Co-Founder,2011-08-11 23:48:45
9,2007-05-25 22:15:59,None,11,1,p:12,11,c:5,3,None,"Chief Revenue Officer, VP of Operations",2010-01-25 21:49:45

In [20]:
with conn as cursor:
    cursor.execute('SELECT * FROM cb_milestones')
    fields = [item[0] for item in cursor.description]
    result_mil = []
    columns = tuple( [item[0] for item in cursor.description] )
    for row in cursor:
      result_mil.append(dict(zip(columns, row)))

/Users/mitch/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning: context interface will be changed.  Use explicit conn.commit() or conn.rollback().
  if __name__ == '__main__':

In [21]:
print(columns)
print(len(result_mil))

('id', 'object_id', 'milestone_at', 'milestone_code', 'description', 'source_url', 'source_description', 'created_at', 'updated_at')
39456

In [22]:
result_mil_df = pd.DataFrame(result_mil)
result_mil_df.head(10)

,created_at,description,id,milestone_at,milestone_code,object_id,source_description,source_url,updated_at
0,2008-06-18 08:14:06,Survives iPhone 3G Stevenote,1,2008-06-09,other,c:12,"Twitter Fails To Fail, Community Rejoices",http://www.techcrunch.com/2008/06/10/twitter-f...,2008-06-18 08:14:06
1,2008-06-18 08:46:28,Twhirl announces support for Seesmic video pla...,2,2008-06-17,other,c:3138,Seesmic Now Available In Twhirl,http://www.inquisitr.com/1103/seesmic-now-avai...,2008-06-18 08:46:28
2,2008-06-18 08:50:24,More than 4 Billion videos viewed at Google Si...,3,2008-06-18,other,c:59,11 Billion Videos Viewed Online in the U.S. in...,http://www.comscore.com/press/release.asp?pres...,2008-06-18 08:50:24
3,2008-06-19 04:14:00,Reddit goes Open Source,4,2008-06-18,other,c:314,reddit goes open source,http://blog.reddit.com/2008/06/reddit-goes-ope...,2008-06-19 04:14:00
4,2008-06-19 04:15:53,Adds the ability to create your own Reddits,5,2008-01-22,other,c:314,Reddit Adds Ability to Create Your Own Reddits,http://www.techcrunch.com/2008/01/22/reddit-ad...,2008-06-19 04:15:53
5,2008-06-19 04:39:01,"Adobe announced new content from MTV Networks,...",6,2008-06-18,other,c:283,None,None,2008-06-19 04:39:01
6,2008-06-19 08:29:10,Closed release of first prototype,7,2008-02-01,other,c:6816,None,None,2008-06-19 16:55:48
7,2008-06-19 08:29:10,Closed release of second prototype,8,2008-05-01,other,c:6816,Diary of a Mobile Internet Startup,http://mobverge.blogspot.com/2008/06/diary-of-...,2008-06-19 16:55:48
8,2008-06-19 15:29:37,"Scoofers, a new search engine that combines se...",9,2008-06-19,other,c:5874,Official launch of Scoofers,http://scoofers.blogspot.com/2008/06/scoofers-...,2008-06-19 19:34:45
9,2008-06-19 17:48:25,Jeremy Zawodny leaves Yahoo for Craigslist.,10,2008-07-01,other,c:2034,I'm Joining Craigslist in July,http://jeremy.zawodny.com/blog/archives/010361...,2008-06-19 17:48:25

In [23]:
result_mil_df[result_mil_df['object_id']=='c:5'].head(10)

,created_at,description,id,milestone_at,milestone_code,object_id,source_description,source_url,updated_at
98,2008-06-27 18:58:14,Facebook adds comments to Mini-Feed,99,2008-06-25,other,c:5,Facebook adds comments to the Mini-Feed. It's ...,http://venturebeat.com/2008/06/25/facebook-add...,2013-01-03 00:36:55
651,2008-10-16 19:43:35,fbFund for Developers awards its grants.,652,2008-10-15,other,c:5,The fbFund Gives Out Cash To 25 Facebook Devel...,http://www.techcrunch.com/2008/10/15/the-fbfun...,2008-10-16 19:43:35
5002,2010-06-22 02:31:39,Facebook Movie Poster Announces 500 Million Fa...,5003,2010-06-19,other,c:5,Facebook Movie Poster Announces 500 Million Fa...,http://techcrunch.com/2010/06/19/facebook-movi...,2010-06-22 02:31:39
5452,2010-07-09 02:30:44,"By the way, Facebook for iPhone has 57.8 milli...",5453,2010-07-08,other,c:5,"By the way, Facebook for iPhone has 57.8 milli...",http://www.businessinsider.com/by-the-way-face...,2010-07-09 02:30:44
5628,2010-07-17 01:38:36,Zuckerberg Makes It Official: Facebook Hits 50...,5629,2010-07-21,other,c:5,Zuckerberg Makes It Official: Facebook Hits 50...,http://techcrunch.com/2010/07/21/facebook-500-...,2010-07-22 02:55:17
6554,2010-08-27 20:07:27,Facebook partners with Y-Combinator,6555,2010-08-27,other,c:5,Facebook To Begin Giving Y Combinator Startups...,http://techcrunch.com/2010/08/26/facebook-y-co...,2010-08-27 20:07:27
7216,2010-09-25 04:16:04,Facebook CEO Mark Zuckerberg Donates $100 Mill...,7217,2010-09-22,other,c:5,Facebook CEO Mark Zuckerberg Donates $100 Mill...,http://www.businessinsider.com/mark-zuckerberg...,2010-09-25 04:16:04
7918,2010-10-22 04:37:41,"Facebook, KPCB Announce $250 Million Social Ne...",7919,2010-10-21,other,c:5,"Facebook, KPCB Announce $250 Million Social Ne...",http://www.businessinsider.com/live-facebook-t...,2010-10-22 04:37:41
8279,2010-11-04 06:20:05,200 Million People Use Facebook Mobile ? Up 3X...,8280,2010-11-03,other,c:5,200 Million People Use Facebook Mobile ? Up 3X...,http://www.businessinsider.com/200-million-peo...,2012-10-10 22:13:30
8495,2010-11-16 04:22:54,Facebook Acquired FB.com From The American Far...,8496,2010-11-15,other,c:5,Facebook Acquired FB.com From The American Far...,http://techcrunch.com/2010/11/15/facebook-acqu...,2010-11-16 04:22:54

In [24]:
with conn as cursor:
    cursor.execute('SELECT * FROM cb_objects')
    fields = [item[0] for item in cursor.description]
    result_obj = []
    columns = tuple( [item[0] for item in cursor.description] )
    for row in cursor:
      result_obj.append(dict(zip(columns, row)))

/Users/mitch/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning: context interface will be changed.  Use explicit conn.commit() or conn.rollback().
  if __name__ == '__main__':

In [28]:
columns

('id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'normalized_name',
 'permalink',
 'category_code',
 'status',
 'founded_at',
 'closed_at',
 'domain',
 'homepage_url',
 'twitter_username',
 'logo_url',
 'logo_width',
 'logo_height',
 'short_description',
 'description',
 'overview',
 'tag_list',
 'country_code',
 'state_code',
 'city',
 'region',
 'first_investment_at',
 'last_investment_at',
 'investment_rounds',
 'invested_companies',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships',
 'created_by',
 'created_at',
 'updated_at')

In [29]:
print(len(result_obj))

462651

In [33]:
result_obj_df = pd.DataFrame(result_obj)
result_obj_df[['name','id']].head(100)

                             name        id
0                        Wetpaint       c:1
1                         Flektor      c:10
2                           There     c:100
3                         MYWEBBO   c:10000
4              THE Movie Streamer   c:10001
5                  Synergie Media   c:10002
6          Green Basti Ecosystems   c:10003
7                        HostNine  c:100042
8               Thomas Publishing   c:10005
9   Vetter Idea Management System  c:100062
10                     ChatRandom  c:100068
11               ScapadasAmorosas   c:10008
12                dimension5 labs   c:10009
13                     FriendFeed    c:1001
14                      Whooligan   c:10010
15           PoetryVisualized.com   c:10011
16                moviestring.com   c:10012
17                      The Adory   c:10013
18                        Mobclix   c:10014
19                         Fitbit   c:10015
20                           MTPV  c:100155
21         Camcorder-batteries.us   c:10016
22                        Paydirt  c:100174
23                        Wreally  c:100178
24                     Demandbase   c:10018
25                       AirSpeed  c:100180
26        Locatrix Communications  c:100189
27   Threebrix E-services Pvt Ltd   c:10020
28                         Diditz   c:10021
29                The Lions Group  c:100211
..                            ...       ...
70                          Datum  c:100589
71                Shooting People   c:10059
72                       Youlicit    c:1006
73                   PDG+creative   c:10060
74                         Jogabo  c:100607
75                       Workstir   c:10062
76                  Dotcomweavers  c:100634
77            Courion Corporation   c:10065
78              Adgregate Markets   c:10066
79                      Du Nguyen   c:10067
80                      PlayPhone   c:10069
81                        Rupture    c:1007
82                Cactus Commerce  c:100704
83             Dada Entertainment   c:10071
84                     payolution  c:100716
85             Testimonial Monkey  c:100719
86                          Quifo   c:10072
87                      Rush Hour   c:10073
88                      spreet.it  c:100734
89                      TelPlexus  c:100735
90      Osmose Utilities Services  c:100738
91                         Weedee   c:10074
92                      RitAssist  c:100742
93                       Birdpost   c:10075
94                Ambitious Minds  c:100756
95                         Popego   c:10076
96                         Jivjiv   c:10077
97                  Reach Further  c:100777
98                      Foodproof   c:10078
99                       Carperks  c:100783

[100 rows x 2 columns]

In [27]:
# close connection
conn.close()